<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PopupAllCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,342}}</string>
                <key>sourceSize</key>
                <string>{548,342}</string>
            </dict>
            <key>PopupEquipment.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{234,192}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,192}}</string>
                <key>sourceSize</key>
                <string>{234,204}</string>
            </dict>
            <key>PopupHandCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{546,192}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,192}}</string>
                <key>sourceSize</key>
                <string>{548,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardPopup-hd.pvr.ccz</string>
            <key>size</key>
            <string>{746,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99df3def51800fde017d3d81f64c5c31:1/1$</string>
            <key>textureFileName</key>
            <string>CardPopup-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
