<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PopupAllCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1166,730}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1166,730}}</string>
                <key>sourceSize</key>
                <string>{1170,730}</string>
            </dict>
            <key>PopupEquipment.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{498,410}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,410}}</string>
                <key>sourceSize</key>
                <string>{500,436}</string>
            </dict>
            <key>PopupHandCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{1164,410}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1164,410}}</string>
                <key>sourceSize</key>
                <string>{1170,436}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardPopup-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1582,1146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceb7eb8349e61d9a806d6d2745522c80:1/1$</string>
            <key>textureFileName</key>
            <string>CardPopup-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
