<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PopupExtractedAllCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1170,760}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1170,760}}</string>
                <key>sourceSize</key>
                <string>{1170,760}</string>
            </dict>
            <key>PopupExtractedEquipment.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{520,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,450}}</string>
                <key>sourceSize</key>
                <string>{520,450}</string>
            </dict>
            <key>PopupExtractedHandCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{1170,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1170,450}}</string>
                <key>sourceSize</key>
                <string>{1170,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardPopup-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1174,1668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9eb205839441660f62bedb36ab5aa88:1/1$</string>
            <key>textureFileName</key>
            <string>CardPopup-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
