<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PopupAssignedCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{483,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,453}}</string>
                <key>sourceSize</key>
                <string>{483,453}</string>
            </dict>
            <key>PopupCardSlot.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,457},{113,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,188}}</string>
                <key>sourceSize</key>
                <string>{113,188}</string>
            </dict>
            <key>PopupDrewAllCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{585,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,380}}</string>
                <key>sourceSize</key>
                <string>{585,380}</string>
            </dict>
            <key>PopupDrewEquipment.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,457},{260,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,225}}</string>
                <key>sourceSize</key>
                <string>{260,225}</string>
            </dict>
            <key>PopupDrewHandCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{585,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,225}}</string>
                <key>sourceSize</key>
                <string>{585,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardPopup-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{869,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb73d82dd21588cdac641b3f312f2465:1/1$</string>
            <key>textureFileName</key>
            <string>CardPopup-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
