<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PopupAssignedCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{453,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,488}}</string>
                <key>sourceSize</key>
                <string>{453,488}</string>
            </dict>
            <key>PopupCardSlot.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,492},{106,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,176}}</string>
                <key>sourceSize</key>
                <string>{106,176}</string>
            </dict>
            <key>PopupDrewAllCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,356}}</string>
                <key>sourceSize</key>
                <string>{548,356}</string>
            </dict>
            <key>PopupDrewEquipment.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,492},{244,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,211}}</string>
                <key>sourceSize</key>
                <string>{244,211}</string>
            </dict>
            <key>PopupDrewHandCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{548,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,211}}</string>
                <key>sourceSize</key>
                <string>{548,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardPopup-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1007,705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:341999d40e07ec7cdeb3d87a94363b88:1/1$</string>
            <key>textureFileName</key>
            <string>CardPopup-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
