<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PopupAssignedCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{964,1038}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{964,1038}}</string>
                <key>sourceSize</key>
                <string>{966,1040}</string>
            </dict>
            <key>PopupCardSlot.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1626},{226,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,376}}</string>
                <key>sourceSize</key>
                <string>{226,376}</string>
            </dict>
            <key>PopupDrewAllCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1170,760}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1170,760}}</string>
                <key>sourceSize</key>
                <string>{1170,760}</string>
            </dict>
            <key>PopupDrewEquipment.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1174},{520,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,450}}</string>
                <key>sourceSize</key>
                <string>{520,450}</string>
            </dict>
            <key>PopupDrewHandCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{1170,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1170,450}}</string>
                <key>sourceSize</key>
                <string>{1170,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardPopup-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1626,1854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0e92031d034f4f015df56675a45f43d:1/1$</string>
            <key>textureFileName</key>
            <string>CardPopup-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
