<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PopupAllCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{583,365}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,365}}</string>
                <key>sourceSize</key>
                <string>{585,365}</string>
            </dict>
            <key>PopupEquipment.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{250,206}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,206}}</string>
                <key>sourceSize</key>
                <string>{250,218}</string>
            </dict>
            <key>PopupHandCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{583,206}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,206}}</string>
                <key>sourceSize</key>
                <string>{585,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardPopup-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{795,577}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:346176343a1e519ad1914718f0d543cc:1/1$</string>
            <key>textureFileName</key>
            <string>CardPopup-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
