<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Damage0.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,568},{116,120}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,53},{116,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Damage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,568},{182,140}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,64},{182,140}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Damage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{240,176}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{240,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Damage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,182}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{240,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Damage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,184}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{240,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Damage5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{240,182}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{240,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Damage6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,374},{202,192}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,44},{202,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Damage7.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,186},{214,186}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,53},{214,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Damage8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{184,180}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,34},{184,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Damage-hd.pvr.ccz</string>
            <key>size</key>
            <string>{490,732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e94ea1894f6ebc2704ce1a6a7fa04ed:1/1$</string>
            <key>textureFileName</key>
            <string>Damage-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
