<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Damage0.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,475},{103,105}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,48},{103,105}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>Damage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,348},{159,125}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,56},{159,125}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>Damage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{213,157}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,53},{213,157}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>Damage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{213,161}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,49},{213,161}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>Damage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{213,163}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{213,163}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>Damage5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,163}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{213,163}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>Damage6.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,167},{179,171}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,39},{179,171}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>Damage7.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,382},{191,165}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,47},{191,165}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>Damage8.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,167},{163,161}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,29},{163,161}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Damage-hd.pvr.ccz</string>
            <key>size</key>
            <string>{501,597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c86386b2e47468e8d4a75fe514a33a3:1/1$</string>
            <key>textureFileName</key>
            <string>Damage-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
