<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BladeMailAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,788},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>BladeMailAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>BladesOfAttackAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,788},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>BladesOfAttackAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,496},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>BootsOfSpeedAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,788},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>BootsOfSpeedAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,249},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>Clubs_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,430},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>DemonEdgeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>DemonEdgeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>Diamonds_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,430},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>DiffusalBladeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,678},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>DiffusalBladeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,496},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>EyeOfSkadiAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,678},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>EyeOfSkadiAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,431},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>Hearts_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,431},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>LotharsEdgeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,678},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>LotharsEdgeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>PhyllisRingAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,678},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>PhyllisRingAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,249},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>PlaneswalkersCloakAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>PlaneswalkersCloakAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>SacredRelicAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,652},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>SacredRelicAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,249},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>SangeAndYashaAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,249},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>SangeAndYashaAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>Spades_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,184},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>StygianDesolatorAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,471},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>StygianDesolatorAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>TalismanOfEvasionAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,249},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>TalismanOfEvasionAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EquipmentAvatar-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1015,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6fd10c9529d2ea5cb820f19b449982d:1/1$</string>
            <key>textureFileName</key>
            <string>EquipmentAvatar-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
