<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BladeMailAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,387},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>BladeMailAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,233},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>BladesOfAttackAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,310},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>BladesOfAttackAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,233},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>BootsOfSpeedAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,451},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>BootsOfSpeedAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>Clubs_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,488},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>DemonEdgeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,404},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>DemonEdgeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>Diamonds_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,488},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>DiffusalBladeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,357},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>DiffusalBladeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,156},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>EyeOfSkadiAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,310},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>EyeOfSkadiAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,156},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>Hearts_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,488},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>LotharsEdgeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,464},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>LotharsEdgeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>PhyllisRingAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,387},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>PhyllisRingAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,79},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>PlaneswalkersCloakAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,310},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>PlaneswalkersCloakAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,79},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>SacredRelicAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,464},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>SacredRelicAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>SangeAndYashaAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,387},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>SangeAndYashaAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>Spades_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>StygianDesolatorAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,310},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>StygianDesolatorAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>TalismanOfEvasionAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>TalismanOfEvasionAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EquipmentAvatar-hd.pvr.ccz</string>
            <key>size</key>
            <string>{314,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7d9980fe38a7c8f92c1ba4bc8b9737f:1/1$</string>
            <key>textureFileName</key>
            <string>EquipmentAvatar-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
