<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BladeMailAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,431},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>BladeMailAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,104},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>BladesOfAttackAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,330},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>BladesOfAttackAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,206},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>BootsOfSpeedAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,330},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>BootsOfSpeedAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,308},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>DemonEdgeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,370},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>DemonEdgeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>DiffusalBladeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,370},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>DiffusalBladeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,104},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>EyeOfSkadiAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,268},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>EyeOfSkadiAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,206},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>LotharsEdgeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,308},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>LotharsEdgeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>PhyllisRingAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,206},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>PhyllisRingAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>PlaneswalkersCloakAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,410},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>PlaneswalkersCloakAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,104},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>SacredRelicAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,410},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>SacredRelicAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>SangeAndYashaAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,410},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>SangeAndYashaAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>StygianDesolatorAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,410},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>StygianDesolatorAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>TalismanOfEvasionAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>TalismanOfEvasionAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EquipmentAvatar-iphone5hd.pvr.ccz</string>
            <key>size</key>
            <string>{560,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:378947c8d444d947d7c8eb4d0f9e77bf:1/1$</string>
            <key>textureFileName</key>
            <string>EquipmentAvatar-iphone5hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
