<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BladeMailAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,289},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>BladeMailAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,236},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>BladesOfAttackAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,346},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>BladesOfAttackAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,119},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>BootsOfSpeedAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,333},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>BootsOfSpeedAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,88},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>DemonEdgeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,280},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>DemonEdgeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,88},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>DiffusalBladeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,260},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>DiffusalBladeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>EyeOfSkadiAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,236},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>EyeOfSkadiAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>LotharsEdgeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,227},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>LotharsEdgeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>PhyllisRingAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,174},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>PhyllisRingAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,236},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>PlaneswalkersCloakAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,174},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>PlaneswalkersCloakAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,119},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>SacredRelicAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>SacredRelicAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>SangeAndYashaAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,353},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>SangeAndYashaAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>StygianDesolatorAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,353},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>StygianDesolatorAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
            <key>TalismanOfEvasionAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>TalismanOfEvasionAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,84}}</string>
                <key>sourceSize</key>
                <string>{115,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EquipmentAvatar-hd.pvr.ccz</string>
            <key>size</key>
            <string>{494,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1f32aac06d4c23f338c9c23e51ffe19:1/1$</string>
            <key>textureFileName</key>
            <string>EquipmentAvatar-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
