<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Evasion0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{82,62}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,134},{82,62}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,464},{188,132}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,98},{188,132}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion10.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,210},{202,206}}</string>
                <key>offset</key>
                <string>{-32,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{202,206}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion11.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{202,190}}</string>
                <key>offset</key>
                <string>{-32,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,78},{202,190}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion12.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,418},{170,176}}</string>
                <key>offset</key>
                <string>{-47,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,78},{170,176}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion13.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,418},{166,176}}</string>
                <key>offset</key>
                <string>{-50,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{166,176}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,258},{250,176}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,78},{250,176}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{252,190}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,78},{252,190}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,206}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,78},{254,206}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{236,206}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,78},{236,206}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,240},{222,206}}</string>
                <key>offset</key>
                <string>{-21,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,78},{222,206}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{202,206}}</string>
                <key>offset</key>
                <string>{-32,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{202,206}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,210},{202,206}}</string>
                <key>offset</key>
                <string>{-32,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{202,206}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>Evasion9.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{202,206}}</string>
                <key>offset</key>
                <string>{-32,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{202,206}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Evasion-iphone5hd.pvr.ccz</string>
            <key>size</key>
            <string>{1018,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77f245cf0ab63b3c890b68a3d6cca7fc:1/1$</string>
            <key>textureFileName</key>
            <string>Evasion-iphone5hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
