<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Evasion0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{74,55}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,122},{74,55}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,569},{170,119}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,89},{170,119}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion10.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,191},{182,187}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{182,187}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion11.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,758},{182,171}}</string>
                <key>offset</key>
                <string>{-29,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,71},{182,171}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion12.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,690},{154,159}}</string>
                <key>offset</key>
                <string>{-42,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,70},{154,159}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion13.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,851},{150,159}}</string>
                <key>offset</key>
                <string>{-45,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{150,159}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{226,159}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,70},{226,159}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{228,171}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,71},{228,171}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,187}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,69},{228,187}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{214,187}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,69},{214,187}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{200,187}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,69},{200,187}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,380},{182,187}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{182,187}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,569},{182,187}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{182,187}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
            <key>Evasion9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{182,187}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{182,187}}</string>
                <key>sourceSize</key>
                <string>{240,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Evasion-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{519,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13784ea8db02577833703a85cdf417e8:1/1$</string>
            <key>textureFileName</key>
            <string>Evasion-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
