<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Evasion0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,344},{150,112}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,242},{150,112}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,2},{340,238}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,178},{340,238}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,742},{364,372}}</string>
                <key>offset</key>
                <string>{-58,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,140},{364,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion11.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,694},{364,372}}</string>
                <key>offset</key>
                <string>{-58,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,140},{364,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,458},{314,316}}</string>
                <key>offset</key>
                <string>{-82,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,141},{314,316}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,774},{304,316}}</string>
                <key>offset</key>
                <string>{-87,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,141},{304,316}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{450,316}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,141},{450,316}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{456,372}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,140},{456,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,372}}</string>
                <key>offset</key>
                <string>{11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,140},{458,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{428,372}}</string>
                <key>offset</key>
                <string>{-16,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,140},{428,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,320},{402,372}}</string>
                <key>offset</key>
                <string>{-39,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{402,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,376},{364,372}}</string>
                <key>offset</key>
                <string>{-58,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,140},{364,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{364,372}}</string>
                <key>offset</key>
                <string>{-58,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,140},{364,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,376},{364,372}}</string>
                <key>offset</key>
                <string>{-58,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,140},{364,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Evasion.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76b71947cc195e62c0c53e84d95eb2f1$</string>
            <key>textureFileName</key>
            <string>Evasion.pvr.ccz</string>
        </dict>
    </dict>
</plist>
