<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Evasion0.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,750},{150,112}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,242},{150,112}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{340,238}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,178},{340,238}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,368},{364,372}}</string>
                <key>offset</key>
                <string>{-58,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,140},{364,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,686},{364,372}}</string>
                <key>offset</key>
                <string>{-58,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,140},{364,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,368},{314,316}}</string>
                <key>offset</key>
                <string>{-82,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,141},{314,316}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,734},{304,316}}</string>
                <key>offset</key>
                <string>{-87,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,141},{304,316}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{450,316}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,141},{450,316}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{456,372}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,140},{456,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,372}}</string>
                <key>offset</key>
                <string>{11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,140},{458,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{428,372}}</string>
                <key>offset</key>
                <string>{-16,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,140},{428,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,376},{402,372}}</string>
                <key>offset</key>
                <string>{-39,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{402,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,686},{364,372}}</string>
                <key>offset</key>
                <string>{-58,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,140},{364,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,320},{364,372}}</string>
                <key>offset</key>
                <string>{-58,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,140},{364,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,2},{364,372}}</string>
                <key>offset</key>
                <string>{-58,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,140},{364,372}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Evasion-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1986,1052}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8654f5bc3de4914618be389c421a0d99:1/1$</string>
            <key>textureFileName</key>
            <string>Evasion-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
