<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Evasion0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{238,358}}</string>
                <key>offset</key>
                <string>{41,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,85},{238,358}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{310,490}}</string>
                <key>offset</key>
                <string>{44,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,17},{310,490}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion10.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1584},{330,344}}</string>
                <key>offset</key>
                <string>{-71,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,105},{330,344}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion11.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1238},{258,318}}</string>
                <key>offset</key>
                <string>{-108,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,108},{258,318}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{358,522}}</string>
                <key>offset</key>
                <string>{61,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,0},{358,522}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,526}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{448,526}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,314},{440,526}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{440,526}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{394,404}}</string>
                <key>offset</key>
                <string>{-40,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,105},{394,404}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,842},{394,404}}</string>
                <key>offset</key>
                <string>{-40,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,105},{394,404}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{394,404}}</string>
                <key>offset</key>
                <string>{-40,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,105},{394,404}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1238},{342,344}}</string>
                <key>offset</key>
                <string>{-66,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,105},{342,344}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
            <key>Evasion9.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1604},{342,344}}</string>
                <key>offset</key>
                <string>{-66,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,105},{342,344}}</string>
                <key>sourceSize</key>
                <string>{480,570}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Evasion.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cd4aa35b066c0747facb15b3b204ab9$</string>
            <key>textureFileName</key>
            <string>Evasion.pvr.ccz</string>
        </dict>
    </dict>
</plist>
