<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,523},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Cancel_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,759},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Cancel_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,523},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>CardPile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,759},{224,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,105}}</string>
                <key>sourceSize</key>
                <string>{224,105}</string>
            </dict>
            <key>CurrentPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2036,519}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{2036,519}}</string>
                <key>sourceSize</key>
                <string>{2048,519}</string>
            </dict>
            <key>Discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,759},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Discard_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,523},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Discard_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,759},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>FactionFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,523},{261,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,78}}</string>
                <key>sourceSize</key>
                <string>{261,78}</string>
            </dict>
            <key>GameMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,523},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>GameMenu_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,866},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>MenuBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,523},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>MenuBlack_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,523},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>MenuClubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,782},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>MenuClubs_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,782},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>MenuDiamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,782},{169,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{169,106}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>MenuDiamonds_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,782},{169,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{169,106}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>MenuHearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,782},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>MenuHearts_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,786},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>MenuRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,523},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>MenuRed_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,523},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>MenuSpades.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,782},{169,106}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{169,106}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>MenuSpades_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,523},{169,106}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{169,106}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>Neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,951},{47,48}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{47,48}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>Okay.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,523},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Okay_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,523},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Okay_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,523},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>OtherPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{470,286}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{470,286}}</string>
                <key>sourceSize</key>
                <string>{480,290}</string>
            </dict>
            <key>ProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,523},{456,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{456,54}}</string>
                <key>sourceSize</key>
                <string>{484,60}</string>
            </dict>
            <key>ProgressBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,523},{426,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{426,22}}</string>
                <key>sourceSize</key>
                <string>{484,60}</string>
            </dict>
            <key>ProgressBarFrame_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,948},{1064,53}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{1064,53}}</string>
                <key>sourceSize</key>
                <string>{1074,59}</string>
            </dict>
            <key>ProgressBar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,759},{1034,21}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{1034,21}}</string>
                <key>sourceSize</key>
                <string>{1074,59}</string>
            </dict>
            <key>Scourge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,938},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>Sentinel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,938},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>Strengthen.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,523},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Strengthen_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,523},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Strengthen_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,523},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameArtwork-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2040,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ee0bf5794247f8f00cf7970b6eccbe0:1/1$</string>
            <key>textureFileName</key>
            <string>GameArtwork-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
