<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1800},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Cancel_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1748},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Cancel_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1686},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>CardPile.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1914},{224,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,105}}</string>
                <key>sourceSize</key>
                <string>{224,105}</string>
            </dict>
            <key>CurrentPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,519}}</string>
                <key>sourceSize</key>
                <string>{2048,519}</string>
            </dict>
            <key>Discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1572},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Discard_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1506},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Discard_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1458},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>FactionFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,352},{261,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,78}}</string>
                <key>sourceSize</key>
                <string>{261,78}</string>
            </dict>
            <key>GameMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1388},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>GameMenu_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1264},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>MenuBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1344},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>MenuBlack_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1264},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>MenuClubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1150},{160,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,112}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>MenuClubs_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1036},{160,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,112}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>MenuDiamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,694},{173,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{173,112}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>MenuDiamonds_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,580},{173,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{173,112}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>MenuHearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,922},{160,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,112}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>MenuHearts_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,808},{160,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,112}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>MenuRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1230},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>MenuRed_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1116},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>MenuSpades.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,466},{173,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{173,112}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>MenuSpades_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,352},{173,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{173,112}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>Neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1614},{53,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{53,50}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>Okay.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1002},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Okay_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,888},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Okay_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,774},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>OtherPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{480,286}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{480,286}}</string>
                <key>sourceSize</key>
                <string>{480,290}</string>
            </dict>
            <key>ProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,290},{464,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{464,60}}</string>
                <key>sourceSize</key>
                <string>{484,60}</string>
            </dict>
            <key>ProgressBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,290},{426,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{426,22}}</string>
                <key>sourceSize</key>
                <string>{484,60}</string>
            </dict>
            <key>ProgressBarFrame_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1612},{1070,59}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{1070,59}}</string>
                <key>sourceSize</key>
                <string>{1074,59}</string>
            </dict>
            <key>ProgressBar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,352},{1034,21}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{1034,21}}</string>
                <key>sourceSize</key>
                <string>{1074,59}</string>
            </dict>
            <key>Scourge.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1551},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>Sentinel.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1490},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>Strengthen.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,660},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Strengthen_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,546},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Strengthen_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,432},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameArtwork.pvr.ccz</string>
            <key>size</key>
            <string>{1024,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d11e30f4059b9736b3c516ec2d6f656$</string>
            <key>textureFileName</key>
            <string>GameArtwork.pvr.ccz</string>
        </dict>
    </dict>
</plist>
