<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anger.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1094},{52,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>AngerBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1038},{76,100}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BloodEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1097},{32,40}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{32,40}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>BloodEmptyBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1003},{50,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BloodGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1097},{36,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{36,42}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>BloodGreenBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1116},{54,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BloodRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1166},{36,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,44}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>BloodRedBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1148},{52,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BloodYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1097},{36,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{36,42}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>BloodYellowBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1054},{54,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Button/ActiveSkill.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,940},{209,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,96}}</string>
                <key>sourceSize</key>
                <string>{209,96}</string>
            </dict>
            <key>Button/Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,826},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Button/CancelDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,739},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Button/CancelSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,712},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Button/Discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,625},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Button/DiscardDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,598},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Button/DiscardSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,511},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Button/Okay.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,484},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Button/OkayDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,397},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Button/OkaySelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,370},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Button/PassiveSkill.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,997},{205,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,98}}</string>
                <key>sourceSize</key>
                <string>{205,98}</string>
            </dict>
            <key>CardFigure/Black10.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1000},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1159},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Black3.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1158},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Black4.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1168},{22,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Black5.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1158},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Black6.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1190},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Black7.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1155},{22,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Black8.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1135},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Black9.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1168},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/BlackA.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,970},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Red10.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,940},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1135},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1135},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1144},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1144},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1131},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1120},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Red8.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1120},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/Red9.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1030},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardFigure/RedA.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,973},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardPile.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,290},{224,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,105}}</string>
                <key>sourceSize</key>
                <string>{224,105}</string>
            </dict>
            <key>CardSuits/Clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,943},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardSuits/Diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,913},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardSuits/Hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,883},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CardSuits/Spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,853},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>CurrentPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,519}}</string>
                <key>sourceSize</key>
                <string>{2048,519}</string>
            </dict>
            <key>FactionFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,290},{261,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,78}}</string>
                <key>sourceSize</key>
                <string>{261,78}</string>
            </dict>
            <key>Mana.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1116},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>ManaBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1038},{54,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,78}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>Menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,925},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>MenuSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,853},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>Neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1065},{53,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{53,50}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>OtherPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{480,286}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{480,286}}</string>
                <key>sourceSize</key>
                <string>{480,290}</string>
            </dict>
            <key>ProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1144},{1034,21}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{1034,21}}</string>
                <key>sourceSize</key>
                <string>{1074,59}</string>
            </dict>
            <key>ProgressBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1177},{1070,59}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{1070,59}}</string>
                <key>sourceSize</key>
                <string>{1074,59}</string>
            </dict>
            <key>Scourge.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1097},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>Sentinel.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1116},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameImage.pvr.ccz</string>
            <key>size</key>
            <string>{1024,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d48a31cf0ed859a91f2e6a1e428175d2$</string>
            <key>textureFileName</key>
            <string>GameImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
