<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anger.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,664},{25,33}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Anger_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,308},{35,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>Black1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,947},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Black10.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,934},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,947},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Black3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,934},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Black4.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,732},{11,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Black5.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,719},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Black6.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,947},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Black7.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,934},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Black8.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,921},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Black9.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,706},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>BloodEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,61},{16,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,19}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>BloodEmpty_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,141},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>BloodGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,787},{16,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{16,21}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>BloodGreen_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,934},{26,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>BloodRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,19},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>BloodRed_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,113},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>BloodYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,40},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,21}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>BloodYellow_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,934},{26,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,113},{113,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,52}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>Cancel_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,590},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>Cancel_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,904},{113,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,52}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>CardPile.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,348},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>Clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,921},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Clubs_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,749},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>Diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,80},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Diamonds_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,768},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>Discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,536},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>Discard_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,482},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>Discard_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,428},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>FactionFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,226},{122,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,37}}</string>
                <key>sourceSize</key>
                <string>{122,37}</string>
            </dict>
            <key>GameMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,559},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>GameMenu_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,454},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>Hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,808},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Hearts_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,193},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>MenuBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,374},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>MenuBlack_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,320},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>MenuClubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,846},{75,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,53}}</string>
                <key>sourceSize</key>
                <string>{75,53}</string>
            </dict>
            <key>MenuClubs_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,771},{75,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,53}}</string>
                <key>sourceSize</key>
                <string>{75,53}</string>
            </dict>
            <key>MenuDiamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,852},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{82,53}</string>
            </dict>
            <key>MenuDiamonds_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,536},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{82,53}</string>
            </dict>
            <key>MenuHearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,696},{75,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,53}}</string>
                <key>sourceSize</key>
                <string>{75,53}</string>
            </dict>
            <key>MenuHearts_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,618},{75,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,53}}</string>
                <key>sourceSize</key>
                <string>{75,53}</string>
            </dict>
            <key>MenuRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,266},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>MenuRed_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>MenuSpades.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,454},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{82,53}</string>
            </dict>
            <key>MenuSpades_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,226},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{82,53}</string>
            </dict>
            <key>Neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,169},{24,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Okay.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,852},{113,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,52}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>Okay_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,212},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>Okay_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,800},{113,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,52}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>OtherPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{212,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,128}}</string>
                <key>sourceSize</key>
                <string>{212,128}</string>
            </dict>
            <key>ProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,486},{200,7}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{200,7}}</string>
                <key>sourceSize</key>
                <string>{208,11}</string>
            </dict>
            <key>ProgressBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,638},{208,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,11}}</string>
                <key>sourceSize</key>
                <string>{208,11}</string>
            </dict>
            <key>ProgressBarFrame_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{638,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,11}}</string>
                <key>sourceSize</key>
                <string>{638,11}</string>
            </dict>
            <key>ProgressBar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,0},{486,7}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{486,7}}</string>
                <key>sourceSize</key>
                <string>{492,11}</string>
            </dict>
            <key>Red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,212},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Red10.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,212},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,947},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,934},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,921},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,93},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,93},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,821},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Red8.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,693},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Red9.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,212},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Scourge.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,721},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>SelfPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{960,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,248}}</string>
                <key>sourceSize</key>
                <string>{960,248}</string>
            </dict>
            <key>Sentinel.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,693},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,921},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Spades_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>Strengthen.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,748},{113,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,52}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>Strengthen_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,696},{113,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,52}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>Strengthen_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,644},{113,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,52}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameArtwork-hd.pvr.ccz</string>
            <key>size</key>
            <string>{470,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dab4ffb7af71e7b4186887b477e895d3:1/1$</string>
            <key>textureFileName</key>
            <string>GameArtwork-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
