<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anger.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,194},{29,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>Anger_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,251},{41,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Black1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,96},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Black10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,80},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,291},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Black3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,291},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Black4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,289},{14,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Black5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,291},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Black6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,233},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Black7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,289},{14,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Black8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,289},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Black9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,238},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>BloodEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,283},{19,23}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>BloodEmpty_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,204},{29,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>BloodGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,283},{19,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{19,25}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>BloodGreen_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,202},{31,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>BloodRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,283},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>BloodRed_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,171},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>BloodYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,283},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,25}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>BloodYellow_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,171},{31,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,229},{134,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>Cancel_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,171},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>Cancel_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,0},{134,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>CardPile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,233},{125,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,59}}</string>
                <key>sourceSize</key>
                <string>{125,59}</string>
            </dict>
            <key>Clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,64},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Clubs_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,236},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>Diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,48},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Diamonds_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,283},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>Discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,0},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>Discard_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,0},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>Discard_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,0},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>FactionFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,0},{144,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,43}}</string>
                <key>sourceSize</key>
                <string>{144,43}</string>
            </dict>
            <key>GameMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,132},{124,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,39}}</string>
                <key>sourceSize</key>
                <string>{124,39}</string>
            </dict>
            <key>GameMenu_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,251},{124,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,39}}</string>
                <key>sourceSize</key>
                <string>{124,39}</string>
            </dict>
            <key>Hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,32},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Hearts_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,194},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>MenuBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,132},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>MenuBlack_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,0},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>MenuClubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,132},{89,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,61}}</string>
                <key>sourceSize</key>
                <string>{89,63}</string>
            </dict>
            <key>MenuClubs_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,132},{89,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,61}}</string>
                <key>sourceSize</key>
                <string>{89,63}</string>
            </dict>
            <key>MenuDiamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,134},{95,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,61}}</string>
                <key>sourceSize</key>
                <string>{97,63}</string>
            </dict>
            <key>MenuDiamonds_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,134},{95,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,61}}</string>
                <key>sourceSize</key>
                <string>{97,63}</string>
            </dict>
            <key>MenuHearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,134},{89,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,61}}</string>
                <key>sourceSize</key>
                <string>{89,63}</string>
            </dict>
            <key>MenuHearts_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,144},{89,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,61}}</string>
                <key>sourceSize</key>
                <string>{89,63}</string>
            </dict>
            <key>MenuRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,221},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>MenuRed_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,0},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>MenuSpades.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,134},{95,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{95,61}}</string>
                <key>sourceSize</key>
                <string>{97,63}</string>
            </dict>
            <key>MenuSpades_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,134},{95,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{95,61}}</string>
                <key>sourceSize</key>
                <string>{97,63}</string>
            </dict>
            <key>Neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,194},{29,27}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{29,27}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Okay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,0},{134,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>Okay_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,0},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>Okay_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,229},{134,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>OtherPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,0},{251,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,151}}</string>
                <key>sourceSize</key>
                <string>{251,151}</string>
            </dict>
            <key>ProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,0},{238,7}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{238,7}}</string>
                <key>sourceSize</key>
                <string>{246,13}</string>
            </dict>
            <key>ProgressBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,293},{244,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{244,11}}</string>
                <key>sourceSize</key>
                <string>{246,13}</string>
            </dict>
            <key>ProgressBarFrame_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,293},{755,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{755,11}}</string>
                <key>sourceSize</key>
                <string>{755,13}</string>
            </dict>
            <key>ProgressBar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,293},{576,7}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{576,7}}</string>
                <key>sourceSize</key>
                <string>{582,13}</string>
            </dict>
            <key>Red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,16},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Red10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,267},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,251},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,235},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,222},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,208},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,194},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Red8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,219},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Red9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,112},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Scourge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,256},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>SelfPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1136,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,293}}</string>
                <key>sourceSize</key>
                <string>{1136,293}</string>
            </dict>
            <key>Sentinel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,223},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,283},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Spades_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,194},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>Strengthen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,0},{134,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>Strengthen_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,0},{134,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>Strengthen_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,0},{134,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,62}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameArtwork-iphone5hd.pvr.ccz</string>
            <key>size</key>
            <string>{2038,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fec7a0adb855ca58ba16ef7eadcb6b41:1/1$</string>
            <key>textureFileName</key>
            <string>GameArtwork-iphone5hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
