<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anger.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,897},{38,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{38,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Anger_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{54,90}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{54,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Black1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,611},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black10.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,955},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,979},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black3.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,955},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,979},{20,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,979},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,705},{20,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{20,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,683},{20,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,661},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,639},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>BloodEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,955},{32,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{32,38}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>BloodEmpty_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,945},{50,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BloodGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,955},{32,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,42}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>BloodGreen_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,945},{50,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BloodRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,847},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{34,42}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>BloodRed_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,801},{50,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BloodYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,945},{32,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{32,40}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>BloodYellow_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,739},{50,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,739},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Cancel_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,631},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Cancel_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,631},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>CardPile.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,897},{224,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,105}}</string>
                <key>sourceSize</key>
                <string>{224,105}</string>
            </dict>
            <key>Clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,945},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Clubs_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,945},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>CurrentPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2036,519}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{2036,519}}</string>
                <key>sourceSize</key>
                <string>{2048,519}</string>
            </dict>
            <key>Diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,583},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Diamonds_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,945},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>Discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,523},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Discard_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,523},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Discard_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,763},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>FactionFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,817},{261,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,78}}</string>
                <key>sourceSize</key>
                <string>{261,78}</string>
            </dict>
            <key>GameMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,811},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>GameMenu_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,739},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>Hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,553},{28,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Hearts_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,955},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>MenuBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,655},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>MenuBlack_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,547},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>MenuClubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,871},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>MenuClubs_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,871},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>MenuDiamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,871},{169,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{169,106}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>MenuDiamonds_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,883},{169,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{169,106}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>MenuHearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,837},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>MenuHearts_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,883},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>MenuRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,763},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>MenuRed_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,655},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>MenuSpades.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,847},{169,106}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{169,106}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>MenuSpades_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,817},{169,106}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{169,106}}</string>
                <key>sourceSize</key>
                <string>{175,114}</string>
            </dict>
            <key>Neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,955},{47,48}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{47,48}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>Okay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,547},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Okay_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,601},{234,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Okay_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,709},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>OtherPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{470,286}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{470,286}}</string>
                <key>sourceSize</key>
                <string>{480,290}</string>
            </dict>
            <key>ProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{456,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{456,54}}</string>
                <key>sourceSize</key>
                <string>{484,60}</string>
            </dict>
            <key>ProgressBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,523},{426,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{426,22}}</string>
                <key>sourceSize</key>
                <string>{484,60}</string>
            </dict>
            <key>ProgressBarFrame_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{1064,53}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{1064,53}}</string>
                <key>sourceSize</key>
                <string>{1074,59}</string>
            </dict>
            <key>ProgressBar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{1034,21}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{1034,21}}</string>
                <key>sourceSize</key>
                <string>{1074,59}</string>
            </dict>
            <key>Red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,523},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red10.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,925},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,925},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,955},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,925},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,955},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,945},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,925},{22,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,523},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,578},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Scourge.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,925},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>Sentinel.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,945},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>Spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,837},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Spades_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,961},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>Strengthen.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,601},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Strengthen_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,709},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Strengthen_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,601},{234,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{234,106}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameArtwork-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2040,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2116fe3d2ff5865e12d7f4fce28663ef:1/1$</string>
            <key>textureFileName</key>
            <string>GameArtwork-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
