<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Antimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{3134,752},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>Axe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2612,752},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>Bristleback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2090,752},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>CentaurWarchief.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,752},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>CrystalMaiden.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,752},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>DragonKnight.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,752},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>DwarvenSniper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>Enchantress.png</key>
            <dict>
                <key>frame</key>
                <string>{{3134,377},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>KeeperOfTheLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2612,377},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>LordOfAvernus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2090,377},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>NerubianAssassin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,377},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>NerubianWeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,377},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>Omniknight.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,377},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>OrgeMagi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>SacredWarrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{3134,2},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>ShadowPriest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2612,2},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>Slayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2090,2},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>StormSpirit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,2},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>Strygwyr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>UrsaWarrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
            <key>VengefulSpirit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{373,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{373,520}}</string>
                <key>sourceSize</key>
                <string>{413,560}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroCard-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{3656,1127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9832d61a4afaf275b809ae04f131061:1/1$</string>
            <key>textureFileName</key>
            <string>HeroCard-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
