<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ActiveSkill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,137},{98,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,46}}</string>
                <key>sourceSize</key>
                <string>{98,46}</string>
            </dict>
            <key>ActiveSkill2_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,185},{98,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,46}}</string>
                <key>sourceSize</key>
                <string>{98,46}</string>
            </dict>
            <key>ActiveSkill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,137},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>ActiveSkill3_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,185},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>AntimageAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,137},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>AntimageAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,133}}</string>
                <key>sourceSize</key>
                <string>{160,133}</string>
            </dict>
            <key>BristlebackAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,137},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>BristlebackAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,133}}</string>
                <key>sourceSize</key>
                <string>{160,133}</string>
            </dict>
            <key>KeeperOfTheLightAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,137},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>KeeperOfTheLightAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,133}}</string>
                <key>sourceSize</key>
                <string>{160,133}</string>
            </dict>
            <key>PassiveSkill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,137},{98,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,46}}</string>
                <key>sourceSize</key>
                <string>{98,46}</string>
            </dict>
            <key>PassiveSkill2_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,185},{96,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,46}}</string>
                <key>sourceSize</key>
                <string>{96,46}</string>
            </dict>
            <key>PassiveSkill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,137},{65,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{65,46}</string>
            </dict>
            <key>PassiveSkill3_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,185},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,46}</string>
            </dict>
            <key>SacredWarriorAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,137},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>SacredWarriorAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,133}}</string>
                <key>sourceSize</key>
                <string>{160,133}</string>
            </dict>
            <key>SlayerAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,137},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>SlayerAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,133}}</string>
                <key>sourceSize</key>
                <string>{160,133}</string>
            </dict>
            <key>VengefulSpiritAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>VengefulSpiritAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,133}}</string>
                <key>sourceSize</key>
                <string>{160,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroAvatar-hd.pvr.ccz</string>
            <key>size</key>
            <string>{974,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cd4f6093324da3f4f71cae7b1a6a727:1/1$</string>
            <key>textureFileName</key>
            <string>HeroAvatar-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
