<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ActiveSkill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1818},{208,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,98}}</string>
                <key>sourceSize</key>
                <string>{208,98}</string>
            </dict>
            <key>ActiveSkill2_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{208,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,98}}</string>
                <key>sourceSize</key>
                <string>{208,98}</string>
            </dict>
            <key>ActiveSkill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1478},{136,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,98}}</string>
                <key>sourceSize</key>
                <string>{136,98}</string>
            </dict>
            <key>ActiveSkill3_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1378},{136,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,98}}</string>
                <key>sourceSize</key>
                <string>{136,98}</string>
            </dict>
            <key>AntimageAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,982},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>AntimageAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{342,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
            <key>BristlebackAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,786},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>BristlebackAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{342,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
            <key>KeeperOfTheLightAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,590},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>KeeperOfTheLightAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{342,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
            <key>PassiveSkill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1718},{209,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,98}}</string>
                <key>sourceSize</key>
                <string>{209,98}</string>
            </dict>
            <key>PassiveSkill2_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1718},{205,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,98}}</string>
                <key>sourceSize</key>
                <string>{205,98}</string>
            </dict>
            <key>PassiveSkill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1278},{138,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,98}}</string>
                <key>sourceSize</key>
                <string>{138,98}</string>
            </dict>
            <key>PassiveSkill3_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1178},{140,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,98}}</string>
                <key>sourceSize</key>
                <string>{140,98}</string>
            </dict>
            <key>SacredWarriorAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,394},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>SacredWarriorAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{342,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
            <key>SlayerAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,198},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>SlayerAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{342,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
            <key>VengefulSpiritAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>VengefulSpiritAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroAvatar-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{542,1918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2027d5932dd1d679c5714aca648c2da:1/1$</string>
            <key>textureFileName</key>
            <string>HeroAvatar-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
