<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ActiveSkill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,917},{104,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,49}}</string>
                <key>sourceSize</key>
                <string>{104,49}</string>
            </dict>
            <key>ActiveSkill2_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{104,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,49}}</string>
                <key>sourceSize</key>
                <string>{104,49}</string>
            </dict>
            <key>ActiveSkill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,749},{68,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,49}}</string>
                <key>sourceSize</key>
                <string>{68,49}</string>
            </dict>
            <key>ActiveSkill3_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,698},{68,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,49}}</string>
                <key>sourceSize</key>
                <string>{68,49}</string>
            </dict>
            <key>AntimageAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,497},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>AntimageAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{171,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,142}}</string>
                <key>sourceSize</key>
                <string>{171,142}</string>
            </dict>
            <key>BristlebackAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,398},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>BristlebackAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{171,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,142}}</string>
                <key>sourceSize</key>
                <string>{171,142}</string>
            </dict>
            <key>KeeperOfTheLightAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,299},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>KeeperOfTheLightAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{171,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,142}}</string>
                <key>sourceSize</key>
                <string>{171,142}</string>
            </dict>
            <key>PassiveSkill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{105,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,49}}</string>
                <key>sourceSize</key>
                <string>{105,49}</string>
            </dict>
            <key>PassiveSkill2_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,866},{103,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,49}}</string>
                <key>sourceSize</key>
                <string>{103,49}</string>
            </dict>
            <key>PassiveSkill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,647},{69,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,49}}</string>
                <key>sourceSize</key>
                <string>{69,49}</string>
            </dict>
            <key>PassiveSkill3_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,596},{70,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,49}}</string>
                <key>sourceSize</key>
                <string>{70,49}</string>
            </dict>
            <key>SacredWarriorAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,200},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>SacredWarriorAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{171,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,142}}</string>
                <key>sourceSize</key>
                <string>{171,142}</string>
            </dict>
            <key>SlayerAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,101},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>SlayerAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{171,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,142}}</string>
                <key>sourceSize</key>
                <string>{171,142}</string>
            </dict>
            <key>VengefulSpiritAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>VengefulSpiritAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,142}}</string>
                <key>sourceSize</key>
                <string>{171,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroAvatar-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{274,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:117f9f7042be637fbc44af61e19824d1:1/1$</string>
            <key>textureFileName</key>
            <string>HeroAvatar-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
