<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NormalAttack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1558},{246,236}}</string>
                <key>offset</key>
                <string>{-102,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,276},{246,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1508},{308,300}}</string>
                <key>offset</key>
                <string>{-70,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,212},{308,300}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1418},{512,388}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{512,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,832},{502,388}}</string>
                <key>offset</key>
                <string>{-5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{502,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,392},{496,388}}</string>
                <key>offset</key>
                <string>{-8,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{496,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,392},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,392},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,392},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,392},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,392},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,392},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,392},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{440,366}}</string>
                <key>offset</key>
                <string>{-2,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,146},{440,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,392},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,392},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,392},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,392},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,782},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,832},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack26.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1222},{366,388}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,121},{366,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1222},{334,332}}</string>
                <key>offset</key>
                <string>{6,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,120},{334,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1172},{334,328}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,121},{334,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1222},{442,430}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,82},{442,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{512,486}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{512,486}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{512,438}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{512,438}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,490}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{512,490}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{512,434}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{512,434}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{512,388}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{512,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>NormalAttack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,442},{512,388}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,121},{512,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NormalAttack-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1992,1810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:301ed5bd8dba90e0c6cd3ca0eb589a98:1/1$</string>
            <key>textureFileName</key>
            <string>NormalAttack-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
