<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NormalAttack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,432},{99,97}}</string>
                <key>offset</key>
                <string>{-42,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,116},{99,97}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,432},{125,125}}</string>
                <key>offset</key>
                <string>{-29,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,88},{125,125}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{211,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,49},{211,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,215},{207,145}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{207,145}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{205,145}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{205,145}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,330},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,330},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,330},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,330},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,330},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack18.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,330},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack19.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,330},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,394},{181,151}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,62},{181,151}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack20.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,330},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack21.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,330},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack22.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,330},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack23.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,330},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack24.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,185},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack25.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,424},{145,143}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{145,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack26.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{145,141}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,51},{145,141}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack27.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,428},{139,137}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,51},{139,137}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{139,135}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,51},{139,135}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{181,179}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{181,179}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{211,201}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{211,201}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,209},{179,183}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{179,183}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,187}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{213,187}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,215},{211,161}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{211,161}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{213,145}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{213,145}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>NormalAttack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,217},{213,143}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,49},{213,143}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NormalAttack-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1010,569}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a17bbdc22afff4e636f1726e6c313458:1/1$</string>
            <key>textureFileName</key>
            <string>NormalAttack-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
