<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NormalAttack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,686},{122,118}}</string>
                <key>offset</key>
                <string>{-51,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,138},{122,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,686},{152,150}}</string>
                <key>offset</key>
                <string>{-35,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,106},{152,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{256,170}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,518},{250,174}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,60},{250,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{246,174}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{246,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,444},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,444},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,444},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,444},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,444},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack18.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,444},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack19.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,444},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,224},{218,182}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,74},{218,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack20.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,444},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack21.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,444},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack22.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,444},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack23.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,444},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack24.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,346},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack25.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,174},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack26.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{174,170}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{174,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack27.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,518},{166,166}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,60},{166,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack28.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,686},{166,164}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,60},{166,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{220,214}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,42},{220,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,242}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{256,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,260},{246,220}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{246,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,224}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{256,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{256,194}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{256,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,518},{256,174}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{256,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>NormalAttack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,260},{256,170}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NormalAttack-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{988,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2eefb732c1ad32929a8756421b1b26c:1/1$</string>
            <key>textureFileName</key>
            <string>NormalAttack-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
