<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BladeMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,344},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>BladesOfAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,344},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>BootsOfSpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,173},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>Chakra.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,173},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>ChaosAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,515},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>DemonEdge.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,344},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>DiffusalBlade.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>Disarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>Dispel.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,173},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>ElunesArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,515},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>EnergyTransport.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,344},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>Evasion.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>EyeOfSkadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,173},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>Fanaticism.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,515},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>FlameAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,344},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>GodsStrength.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>Greed.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,173},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>HealingSalve.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,515},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>LagunaBlade.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,344},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>LotharsEdge.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>Mislead.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,173},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>NormalAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,515},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>PhyllisRing.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,344},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>PlaneswalkersCloak.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>PlayingCardBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,173},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>SacredRelic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>SangeAndYasha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>StygianDesolator.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>TalismanOfEvasion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>ViperRaid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,169}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayingCard-iphone5hd.pvr.ccz</string>
            <key>size</key>
            <string>{994,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b95dd2a648403b2a297d323bc2c94541:1/1$</string>
            <key>textureFileName</key>
            <string>PlayingCard-iphone5hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
