<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Black1.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,374},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black10.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,344},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2026},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2026},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black4.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2023},{22,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2026},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black6.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2026},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black7.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2023},{22,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black8.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2023},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Black9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2026},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>BladeMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,753},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>BladeMailAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,840},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>BladeMailAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1591},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>BladesOfAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,753},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>BladesOfAttackAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,808},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>BladesOfAttackAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1344},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>BootsOfSpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,446},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>BootsOfSpeedAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,808},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>BootsOfSpeedAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,516},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>Chakra.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,446},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>ChaosAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,668},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,314},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>DemonEdge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,586},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>DemonEdgeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1060},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>DemonEdgeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,548},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>Diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,284},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>DiffusalBlade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,446},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>DiffusalBladeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1060},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>DiffusalBladeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,366},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>Disarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1788},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Dispel.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1566},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>ElunesArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1344},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>EnergyTransport.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1037},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Evasion.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,730},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>EyeOfSkadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,224},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>EyeOfSkadiAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1060},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>EyeOfSkadiAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,334},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>Fanaticism.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,224},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>FlameAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,224},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>GodsStrength.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1287},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Greed.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,980},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>HealingSalve.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,673},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,254},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>LagunaBlade.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,366},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>LotharsEdge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,2},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>LotharsEdgeAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,730},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>LotharsEdgeAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1841},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>Mislead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>NormalAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>PhyllisRing.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>PhyllisRingAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,446},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>PhyllisRingAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1594},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>PlaneswalkersCloak.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>PlaneswalkersCloakAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1838},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>PlaneswalkersCloakAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1841},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>PlayingCardBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1537},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,224},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red10.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,334},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,212},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,182},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,152},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,122},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,92},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,62},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,32},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Red9.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>SacredRelic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>SacredRelicAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,405},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>SacredRelicAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1594},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>SangeAndYasha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>SangeAndYashaAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,224},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>SangeAndYashaAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,184},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>Spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,334},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>StygianDesolator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>StygianDesolatorAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,224},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>StygianDesolatorAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>TalismanOfEvasion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>TalismanOfEvasionAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,242},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>TalismanOfEvasionAvatar_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>ViperRaid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayingCard.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac576e496d8c0b68894174d993891e41$</string>
            <key>textureFileName</key>
            <string>PlayingCard.pvr.ccz</string>
        </dict>
    </dict>
</plist>
