<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>19</integer>
		<key>cardName</key>
		<string>LagunaBlade</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>cardEffect</key>
		<string>lagunaBlade</string>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>requiredAnger</key>
		<integer>3</integer>
		<key>checkSelector</key>
		<string>checkLagunaBlade:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>19</integer>
		<key>cardName</key>
		<string>LagunaBlade</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>requiredAnger</key>
		<integer>3</integer>
		<key>checkSelector</key>
		<string>checkLagunaBlade:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>16</integer>
		<key>cardName</key>
		<string>ViperRaid</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>requiredAnger</key>
		<integer>2</integer>
		<key>checkSelector</key>
		<string>checkViperRaid:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>16</integer>
		<key>cardName</key>
		<string>ViperRaid</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>requiredAnger</key>
		<integer>2</integer>
		<key>checkSelector</key>
		<string>checkViperRaid:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>6</integer>
		<key>cardName</key>
		<string>Mislead</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>2</integer>
		<key>canBeStrengthened</key>
		<false/>
		<key>checkSelector</key>
		<string>checkMislead:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>6</integer>
		<key>cardName</key>
		<string>Mislead</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>2</integer>
		<key>canBeStrengthened</key>
		<false/>
		<key>checkSelector</key>
		<string>checkMislead:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>13</integer>
		<key>cardName</key>
		<string>Greed</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>checkSelector</key>
		<string>checkGreed:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>13</integer>
		<key>cardName</key>
		<string>Greed</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>checkSelector</key>
		<string>checkGreed:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>10</integer>
		<key>cardName</key>
		<string>Disarm</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>checkSelector</key>
		<string>checkDisarm:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>10</integer>
		<key>cardName</key>
		<string>Disarm</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>checkSelector</key>
		<string>checkDisarm:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>10</integer>
		<key>cardName</key>
		<string>Disarm</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>checkSelector</key>
		<string>checkDisarm:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>10</integer>
		<key>cardName</key>
		<string>Disarm</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>checkSelector</key>
		<string>checkDisarm:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>10</integer>
		<key>cardName</key>
		<string>Disarm</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>checkSelector</key>
		<string>checkDisarm:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>7</integer>
		<key>cardName</key>
		<string>Chakra</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<false/>
		<key>checkSelector</key>
		<string>checkChakra:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>7</integer>
		<key>cardName</key>
		<string>Chakra</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<false/>
		<key>checkSelector</key>
		<string>checkChakra:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>12</integer>
		<key>cardName</key>
		<string>EnergyTransport</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<true/>
		<key>checkSelector</key>
		<string>checkEnergyTransport:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>12</integer>
		<key>cardName</key>
		<string>EnergyTransport</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<true/>
		<key>checkSelector</key>
		<string>checkEnergyTransport:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>11</integer>
		<key>cardName</key>
		<string>ElunesArrow</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>checkSelector</key>
		<string>checkElunesArrow:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>11</integer>
		<key>cardName</key>
		<string>ElunesArrow</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>checkSelector</key>
		<string>checkElunesArrow:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>5</integer>
		<key>cardName</key>
		<string>Fanaticism</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<false/>
		<key>checkSelector</key>
		<string>checkFanaticism:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>5</integer>
		<key>cardName</key>
		<string>Fanaticism</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<false/>
		<key>checkSelector</key>
		<string>checkFanaticism:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>34</integer>
		<key>cardName</key>
		<string>BootsOfSpeed</string>
		<key>cardText</key>
		<string>速度之靴</string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkArmor:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>32</integer>
		<key>cardName</key>
		<string>PhyllisRing</string>
		<key>cardText</key>
		<string>菲丽丝之戒</string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkArmor:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>36</integer>
		<key>cardName</key>
		<string>TalismanOfEvasion</string>
		<key>cardText</key>
		<string>闪避护符</string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>4</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>isVerticalSet</key>
		<true/>
		<key>checkSelector</key>
		<string>checkArmor:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkAttack:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>4</integer>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkHealingSalve:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>4</integer>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkHealingSalve:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>4</integer>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkHealingSalve:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>4</integer>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkHealingSalve:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>9</integer>
		<key>cardName</key>
		<string>Dispel</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<false/>
		<key>checkSelector</key>
		<string>checkDispel:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>9</integer>
		<key>cardName</key>
		<string>Dispel</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<false/>
		<key>checkSelector</key>
		<string>checkDispel:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>9</integer>
		<key>cardName</key>
		<string>Dispel</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<false/>
		<key>checkSelector</key>
		<string>checkDispel:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>9</integer>
		<key>cardName</key>
		<string>Dispel</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<false/>
		<key>checkSelector</key>
		<string>checkDispel:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>9</integer>
		<key>cardName</key>
		<string>Dispel</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<false/>
		<key>checkSelector</key>
		<string>checkDispel:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>4</integer>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkHealingSalve:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>4</integer>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkHealingSalve:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>35</integer>
		<key>cardName</key>
		<string>PlaneswalkersCloak</string>
		<key>cardText</key>
		<string>法师斗篷</string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkArmor:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>15</integer>
		<key>cardName</key>
		<string>GodsStrength</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>requiredAnger</key>
		<integer>2</integer>
		<key>checkSelector</key>
		<string>checkGodsStrength:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>15</integer>
		<key>cardName</key>
		<string>GodsStrength</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>requiredAnger</key>
		<integer>2</integer>
		<key>checkSelector</key>
		<string>checkGodsStrength:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkEvasion:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkEvasion:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkEvasion:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkEvasion:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkEvasion:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkEvasion:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkEvasion:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkEvasion:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkEvasion:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkEvasion:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>24</integer>
		<key>cardName</key>
		<string>DiffusalBlade</string>
		<key>cardText</key>
		<string>散失之刃</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>3</integer>
		<key>canBeUsedActive</key>
		<true/>
		<key>checkSelector</key>
		<string>checkWeapon:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>25</integer>
		<key>cardName</key>
		<string>LotharsEdge</string>
		<key>cardText</key>
		<string>洛萨之锋</string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>3</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>checkSelector</key>
		<string>checkWeapon:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>20</integer>
		<key>cardName</key>
		<string>EyeOfSkadi</string>
		<key>cardText</key>
		<string>冰魄之眼</string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>1</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>checkSelector</key>
		<string>checkWeapon:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>26</integer>
		<key>cardName</key>
		<string>StygianDesolator</string>
		<key>cardText</key>
		<string>黯灭之刃</string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>3</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>checkSelector</key>
		<string>checkWeapon:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>27</integer>
		<key>cardName</key>
		<string>SangeAndYasha</string>
		<key>cardText</key>
		<string>散夜对剑</string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>3</integer>
		<key>canBeUsedActive</key>
		<true/>
		<key>checkSelector</key>
		<string>checkWeapon:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>21</integer>
		<key>cardName</key>
		<string>BladesOfAttack</string>
		<key>cardText</key>
		<string>攻击之爪</string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>2</integer>
		<key>canBeUsedActive</key>
		<true/>
		<key>checkSelector</key>
		<string>checkWeapon:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>23</integer>
		<key>cardName</key>
		<string>DemonEdge</string>
		<key>cardText</key>
		<string>恶魔刀锋</string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>2</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>checkSelector</key>
		<string>checkWeapon:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>22</integer>
		<key>cardName</key>
		<string>SacredRelic</string>
		<key>cardText</key>
		<string>圣者遗物</string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>onlyEquipOne</key>
		<true/>
		<key>attackRange</key>
		<integer>0</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>checkSelector</key>
		<string>checkWeapon:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>33</integer>
		<key>cardName</key>
		<string>BladeMail</string>
		<key>cardText</key>
		<string>刃甲</string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>checkSelector</key>
		<string>checkArmor:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardText</key>
		<string></string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>checkSelector</key>
		<string>checkEvasion:</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>8</integer>
		<key>cardName</key>
		<string>WildAxe</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>cardEffect</key>
		<string>wildAxe</string>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>14</integer>
		<key>cardName</key>
		<string>SirenSong</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>requiredAnger</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>17</integer>
		<key>cardName</key>
		<string>TimeLock</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>requiredAnger</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>18</integer>
		<key>cardName</key>
		<string>Sunder</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>targetCount</key>
		<integer>1</integer>
		<key>requiredAnger</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>28</integer>
		<key>cardName</key>
		<string>PlunderAxe</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>29</integer>
		<key>cardName</key>
		<string>MysticStaff</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>30</integer>
		<key>cardName</key>
		<string>Eaglehorn</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>31</integer>
		<key>cardName</key>
		<string>QuellingBlade</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
