<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>checkSelector</key>
		<string>checkAttack</string>
		<key>action</key>
		<integer>0</integer>
		<key>cardEffect</key>
		<string>normalAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>checkSelector</key>
		<string>checkAttack</string>
		<key>action</key>
		<integer>0</integer>
		<key>cardEffect</key>
		<string>normalAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>checkSelector</key>
		<string>checkAttack</string>
		<key>action</key>
		<integer>0</integer>
		<key>cardEffect</key>
		<string>normalAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>checkSelector</key>
		<string>checkAttack</string>
		<key>action</key>
		<integer>0</integer>
		<key>cardEffect</key>
		<string>normalAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>checkSelector</key>
		<string>checkAttack</string>
		<key>action</key>
		<integer>0</integer>
		<key>cardEffect</key>
		<string>normalAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>checkSelector</key>
		<string>checkAttack</string>
		<key>action</key>
		<integer>0</integer>
		<key>cardEffect</key>
		<string>normalAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>checkSelector</key>
		<string>checkAttack</string>
		<key>action</key>
		<integer>0</integer>
		<key>cardEffect</key>
		<string>normalAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>checkSelector</key>
		<string>checkAttack</string>
		<key>action</key>
		<integer>0</integer>
		<key>cardEffect</key>
		<string>normalAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>checkSelector</key>
		<string>checkAttack</string>
		<key>action</key>
		<integer>0</integer>
		<key>cardEffect</key>
		<string>normalAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>chaosAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>chaosAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>chaosAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>chaosAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>chaosAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>chaosAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>chaosAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>19</integer>
		<key>cardName</key>
		<string>LagunaBlade</string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>lagunaBlade</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>requiredMana</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>19</integer>
		<key>cardName</key>
		<string>LagunaBlade</string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>lagunaBlade</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>requiredMana</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>16</integer>
		<key>cardName</key>
		<string>ViperRaid</string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>viperRaid</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>requiredMana</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>16</integer>
		<key>cardName</key>
		<string>ViperRaid</string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>viperRaid</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>requiredMana</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>6</integer>
		<key>cardName</key>
		<string>Mislead</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>mislead</string>
		<key>maxTargetCount</key>
		<integer>2</integer>
		<key>canBeStrengthed</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>6</integer>
		<key>cardName</key>
		<string>Mislead</string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>mislead</string>
		<key>maxTargetCount</key>
		<integer>2</integer>
		<key>canBeStrengthed</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>13</integer>
		<key>cardName</key>
		<string>Greed</string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>greed</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<true/>
		<key>requiredMana</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>13</integer>
		<key>cardName</key>
		<string>Greed</string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>greed</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<true/>
		<key>requiredMana</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>10</integer>
		<key>cardName</key>
		<string>Disarm</string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>disarm</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<true/>
		<key>requiredMana</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>10</integer>
		<key>cardName</key>
		<string>Disarm</string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>disarm</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<true/>
		<key>requiredMana</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>10</integer>
		<key>cardName</key>
		<string>Disarm</string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>disarm</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<true/>
		<key>requiredMana</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>10</integer>
		<key>cardName</key>
		<string>Disarm</string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>disarm</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<true/>
		<key>requiredMana</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>10</integer>
		<key>cardName</key>
		<string>Disarm</string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>disarm</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<true/>
		<key>requiredMana</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>7</integer>
		<key>cardName</key>
		<string>Chakra</string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>chakra</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>7</integer>
		<key>cardName</key>
		<string>Chakra</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>chakra</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>12</integer>
		<key>cardName</key>
		<string>EnergyTransport</string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>energyTransport</string>
		<key>maxTargetCount</key>
		<integer>8</integer>
		<key>canBeStrengthed</key>
		<true/>
		<key>requiredMana</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>12</integer>
		<key>cardName</key>
		<string>EnergyTransport</string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>energyTransport</string>
		<key>maxTargetCount</key>
		<integer>8</integer>
		<key>canBeStrengthed</key>
		<true/>
		<key>requiredMana</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>11</integer>
		<key>cardName</key>
		<string>ElunesArrow</string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>elunesArrow</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<true/>
		<key>requiredMana</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>11</integer>
		<key>cardName</key>
		<string>ElunesArrow</string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>elunesArrow</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<true/>
		<key>requiredMana</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>5</integer>
		<key>cardName</key>
		<string>Fanaticism</string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>fanaticism</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>5</integer>
		<key>cardName</key>
		<string>Fanaticism</string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>fanaticism</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>34</integer>
		<key>cardName</key>
		<string>BootsOfSpeed</string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>bootsOfSpeed</string>
		<key>equipmentType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>32</integer>
		<key>cardName</key>
		<string>PhyllisRing</string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>2</integer>
		</array>
		<key>cardEffect</key>
		<string>phyllisRing</string>
		<key>equipmentType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>36</integer>
		<key>cardName</key>
		<string>TalismanOfEvasion</string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>3</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>talismanOfEvasion</string>
		<key>equipmentType</key>
		<integer>2</integer>
		<key>isVerticalSet</key>
		<true/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>flameAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>flameAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>flameAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>flameAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>flameAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>flameAttack</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>4</integer>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>cardEffect</key>
		<string>healingSalve</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>4</integer>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>cardEffect</key>
		<string>healingSalve</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>4</integer>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>cardEffect</key>
		<string>healingSalve</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>4</integer>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>cardEffect</key>
		<string>healingSalve</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>9</integer>
		<key>cardName</key>
		<string>Dispel</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>7</integer>
		</array>
		<key>cardEffect</key>
		<string>dispel</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>9</integer>
		<key>cardName</key>
		<string>Dispel</string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>7</integer>
		</array>
		<key>cardEffect</key>
		<string>dispel</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>9</integer>
		<key>cardName</key>
		<string>Dispel</string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>7</integer>
		</array>
		<key>cardEffect</key>
		<string>dispel</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>9</integer>
		<key>cardName</key>
		<string>Dispel</string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>7</integer>
		</array>
		<key>cardEffect</key>
		<string>dispel</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>9</integer>
		<key>cardName</key>
		<string>Dispel</string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>7</integer>
		</array>
		<key>cardEffect</key>
		<string>dispel</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>4</integer>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>cardEffect</key>
		<string>healingSalve</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>4</integer>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
			<integer>10</integer>
		</array>
		<key>cardEffect</key>
		<string>healingSalve</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>35</integer>
		<key>cardName</key>
		<string>PlaneswalkersCloak</string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>8</integer>
		</array>
		<key>cardEffect</key>
		<string>planeswalkersCloak</string>
		<key>equipmentType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>15</integer>
		<key>cardName</key>
		<string>GodsStrength</string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>godsStrength</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>requiredMana</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>15</integer>
		<key>cardName</key>
		<string>GodsStrength</string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>0</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>godsStrength</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>requiredMana</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>evasion</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>evasion</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>evasion</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>evasion</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>evasion</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>evasion</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>evasion</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>evasion</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>evasion</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>evasion</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>24</integer>
		<key>cardName</key>
		<string>DiffusalBlade</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>diffusalBlade</string>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>25</integer>
		<key>cardName</key>
		<string>LotharsEdge</string>
		<key>cardFigure</key>
		<integer>2</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>lotharsEdge</string>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>20</integer>
		<key>cardName</key>
		<string>EyeOfSkadi</string>
		<key>cardFigure</key>
		<integer>3</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>eyeOfSkadi</string>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>26</integer>
		<key>cardName</key>
		<string>StygianDesolator</string>
		<key>cardFigure</key>
		<integer>4</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>stygianDesolator</string>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>27</integer>
		<key>cardName</key>
		<string>SangeAndYasha</string>
		<key>cardFigure</key>
		<integer>5</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>sangeAndYasha</string>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>21</integer>
		<key>cardName</key>
		<string>BladesOfAttack</string>
		<key>cardFigure</key>
		<integer>6</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>bladesOfAttack</string>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>23</integer>
		<key>cardName</key>
		<string>DemonEdge</string>
		<key>cardFigure</key>
		<integer>7</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>demonEdge</string>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>22</integer>
		<key>cardName</key>
		<string>SacredRelic</string>
		<key>cardFigure</key>
		<integer>8</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>sacredRelic</string>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>onlyEquipOne</key>
		<true/>
		<key>attackRange</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>33</integer>
		<key>cardName</key>
		<string>BladeMail</string>
		<key>cardFigure</key>
		<integer>9</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>9</integer>
		</array>
		<key>cardEffect</key>
		<string>bladeMail</string>
		<key>equipmentType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>3</integer>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardFigure</key>
		<integer>10</integer>
		<key>cardSuits</key>
		<integer>1</integer>
		<key>cardType</key>
		<integer>0</integer>
		<key>whenToUse</key>
		<array>
			<integer>6</integer>
		</array>
		<key>cardEffect</key>
		<string>evasion</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>8</integer>
		<key>cardName</key>
		<string>WildAxe</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>wildAxe</string>
		<key>maxTargetCount</key>
		<integer>4</integer>
		<key>canBeStrengthed</key>
		<false/>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>14</integer>
		<key>cardName</key>
		<string>SirenSong</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>1</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>sirenSong</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>canBeStrengthed</key>
		<true/>
		<key>requiredMana</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>17</integer>
		<key>cardName</key>
		<string>TimeLock</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>timeLock</string>
		<key>maxTargetCount</key>
		<integer>7</integer>
		<key>requiredMana</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>18</integer>
		<key>cardName</key>
		<string>Sunder</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>2</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>sunder</string>
		<key>maxTargetCount</key>
		<integer>1</integer>
		<key>requiredMana</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>28</integer>
		<key>cardName</key>
		<string>PlunderAxe</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>plunderAxe</string>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>29</integer>
		<key>cardName</key>
		<string>MysticStaff</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>mysticStaff</string>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>30</integer>
		<key>cardName</key>
		<string>Eaglehorn</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>eaglehorn</string>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>31</integer>
		<key>cardName</key>
		<string>QuellingBlade</string>
		<key>cardFigure</key>
		<integer>1</integer>
		<key>cardSuits</key>
		<integer>2</integer>
		<key>cardType</key>
		<integer>3</integer>
		<key>whenToUse</key>
		<array>
			<integer>3</integer>
		</array>
		<key>cardEffect</key>
		<string>quellingBlade</string>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>attackRange</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
