<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Black1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,100},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Black10.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,86},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,294},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Black3.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,282},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Black4.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,270},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Black5.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,258},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Black6.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,246},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Black7.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,234},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Black8.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,222},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Black9.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,210},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>BladeMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,260},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>BladesOfAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,131},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>BootsOfSpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>Chakra.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,260},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>ChaosAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,131},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>Clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,72},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>DemonEdge.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>Diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,58},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>DiffusalBlade.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,260},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>Disarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,131},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>Dispel.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>ElunesArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,260},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>EnergyTransport.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,131},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>Evasion.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>EyeOfSkadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,260},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>Fanaticism.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,131},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>FlameAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>GodsStrength.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,260},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>Greed.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,131},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>HealingSalve.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>Hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,44},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>LagunaBlade.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,260},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>LotharsEdge.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,131},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>Mislead.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>NormalAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,260},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>PhyllisRing.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,131},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>PlaneswalkersCloak.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>PlayingCardBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,260},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>Red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,30},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Red10.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,16},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,198},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,186},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,174},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,162},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,150},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,138},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Red8.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,126},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Red9.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,114},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>SacredRelic.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,131},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>SangeAndYasha.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>Spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>StygianDesolator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>TalismanOfEvasion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>ViperRaid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayingCard-hd.pvr.ccz</string>
            <key>size</key>
            <string>{956,389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfa3392d03a2621fb7efbd89a0daadb4:1/1$</string>
            <key>textureFileName</key>
            <string>PlayingCard-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
