<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BladeMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1537},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>BladesOfAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1537},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>BootsOfSpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1230},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Chakra.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1230},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>ChaosAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,923},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>DemonEdge.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,923},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>DiffusalBlade.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1537},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Disarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1230},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Dispel.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,616},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>ElunesArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,616},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>EnergyTransport.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,923},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Evasion.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1537},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>EyeOfSkadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1230},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Fanaticism.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,309},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>FlameAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,309},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>GodsStrength.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,616},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Greed.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,923},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>HealingSalve.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1537},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>LagunaBlade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>LotharsEdge.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>Mislead.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>NormalAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,309},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>PhyllisRing.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,616},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>PlaneswalkersCloak.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>PlayingCardBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>SacredRelic.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,309},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>SangeAndYasha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>StygianDesolator.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>TalismanOfEvasion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
            <key>ViperRaid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,305}}</string>
                <key>sourceSize</key>
                <string>{220,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayingCard-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1112,1844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3335840d4f1ade1e374fd845fefeabc:1/1$</string>
            <key>textureFileName</key>
            <string>PlayingCard-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
