<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BladeMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,777},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>BladesOfAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,777},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>BootsOfSpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,622},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>Chakra.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,622},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>ChaosAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,467},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>DemonEdge.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,467},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>DiffusalBlade.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,777},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>Disarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,622},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>Dispel.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,312},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>ElunesArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,312},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>EnergyTransport.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,467},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>Evasion.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,777},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>EyeOfSkadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,622},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>Fanaticism.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,157},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>FlameAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,157},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>GodsStrength.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,312},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>Greed.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,467},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>HealingSalve.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>LagunaBlade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>LotharsEdge.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>Mislead.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>NormalAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,157},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>PhyllisRing.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,312},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>PlaneswalkersCloak.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>PlayingCardBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>SacredRelic.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,157},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>SangeAndYasha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>StygianDesolator.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>TalismanOfEvasion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
            <key>ViperRaid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayingCard-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{562,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:427390f01a969731c1dbd723ea1e55d8:1/1$</string>
            <key>textureFileName</key>
            <string>PlayingCard-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
