<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cardName</key>
		<string>NormalAttack</string>
		<key>cardText</key>
		<string>普通攻击</string>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>请选择1名玩家作为【攻击】的目标</string>
		<key>targetTipText</key>
		<string>&amp;对你使用【普通攻击】，是否出【闪避】</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>FlameAttack</string>
		<key>cardText</key>
		<string>火焰攻击</string>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>请选择1名玩家作为【攻击】的目标</string>
		<key>targetTipText</key>
		<string>&amp;对你使用【火焰攻击】，是否出【闪避】</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>ChaosAttack</string>
		<key>cardText</key>
		<string>混乱攻击</string>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>请选择1名玩家作为【攻击】的目标</string>
		<key>targetTipText</key>
		<string>&amp;对你使用【混乱攻击】，是否出【闪避】</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Evasion</string>
		<key>cardText</key>
		<string>闪避</string>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>HealingSalve</string>
		<key>cardText</key>
		<string>治疗药膏</string>
		<key>cardType</key>
		<integer>0</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>使用【治疗药膏】你可以回复1点血量</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Fanaticism</string>
		<key>cardText</key>
		<string>狂热</string>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>对自己造成1点伤害，本回合你可以使用任意数量的【攻击】</string>
		<key>dispelTipText</key>
		<string>&amp;对自己使用【狂热】，是否出【驱散】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Mislead</string>
		<key>cardText</key>
		<string>误导</string>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>2</integer>
		<key>canBeStrengthened</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>请选择任意1名有怒气的玩家A和1名怒气未到上限的玩家B</string>
		<key>dispelTipText</key>
		<string>&amp;对&amp;-&gt;&amp;使用【误导】，是否出【驱散】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Chakra</string>
		<key>cardText</key>
		<string>查克拉</string>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>先摸1张牌，然后猜1种颜色并亮出牌堆顶的1张牌</string>
		<key>dispelTipText</key>
		<string>&amp;对自己使用【查克拉】，是否出【驱散】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>WildAxe</string>
		<key>cardText</key>
		<string>野性之斧</string>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>请选择1名玩家作为目标，处于你到该玩家的最短距离之间的所有玩家需依次打出1张【闪避】</string>
		<key>targetTipText</key>
		<string>&amp;对你使用【野性之斧】，你需要打出1张【闪避】</string>
		<key>dispelTipText</key>
		<string>&amp;对&amp;使用【野性之斧】，是否出【驱散】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Dispel</string>
		<key>cardText</key>
		<string>驱散</string>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>dispelTipText</key>
		<string>&amp;的【驱散】即将生效，是否出【驱散】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Disarm</string>
		<key>cardText</key>
		<string>缴械</string>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>请选择1名装备区里有装备牌的玩家作为目标，弃置其装备区的1张牌</string>
		<key>dispelTipText</key>
		<string>&amp;对&amp;使用【缴械】，是否出【驱散】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>ElunesArrow</string>
		<key>cardText</key>
		<string>月神之箭</string>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>请选择1名玩家作为目标，该玩家需弃1张由你指定的颜色的手牌</string>
		<key>targetTipText</key>
		<string>&amp;对你使用【月神之箭】，你需要弃置1张&amp;手牌</string>
		<key>dispelTipText</key>
		<string>&amp;对&amp;使用【月神之箭】，是否出【驱散】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>EnergyTransport</string>
		<key>cardText</key>
		<string>能量转移</string>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>canBeStrengthened</key>
		<true/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>你查看牌堆顶的&amp;张牌，按行动顺序均分给所有玩家</string>
		<key>dispelTipText</key>
		<string>&amp;使用【能量转移】，是否出【驱散】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Greed</string>
		<key>cardText</key>
		<string>贪婪</string>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>请选择1名玩家作为目标，抽取其2张手牌或1张装备区的牌，然后该玩家抽取你的1张手牌</string>
		<key>dispelTipText</key>
		<string>&amp;对&amp;使用【贪婪】，是否出【驱散】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>SirenSong</string>
		<key>cardText</key>
		<string>海妖之歌</string>
		<key>cardType</key>
		<integer>1</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>canBeStrengthened</key>
		<true/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>请选择1名玩家作为目标，该玩家跳过下1回合的摸牌、出牌和弃牌阶段</string>
		<key>dispelTipText</key>
		<string>&amp;对&amp;使用【海妖之歌】，是否出【驱散】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>GodsStrength</string>
		<key>cardText</key>
		<string>神之力量</string>
		<key>cardType</key>
		<integer>2</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>requiredAnger</key>
		<integer>2</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>先摸1张牌，本回合你使用【攻击】造成的伤害+1</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>ViperRaid</string>
		<key>cardText</key>
		<string>蝮蛇突袭</string>
		<key>cardType</key>
		<integer>2</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>requiredAnger</key>
		<integer>2</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>请选择1名玩家作为目标，该玩家需弃置3张手牌</string>
		<key>targetTipText</key>
		<string>&amp;对你使用【蝮蛇突袭】，你需要弃置3张手牌</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>TimeLock</string>
		<key>cardText</key>
		<string>时间静止</string>
		<key>cardType</key>
		<integer>2</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>requiredAnger</key>
		<integer>2</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>除你以外的所有玩家跳过各自下一回合的摸牌阶段、出牌阶段和弃牌阶段</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Sunder</string>
		<key>cardText</key>
		<string>灵魂隔断</string>
		<key>cardType</key>
		<integer>2</integer>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>requiredAnger</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>请选择1名玩家作为目标，该玩家和你交换血量</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>LagunaBlade</string>
		<key>cardText</key>
		<string>神灭斩</string>
		<key>cardType</key>
		<integer>2</integer>
		<key>cardEffect</key>
		<string>lagunaBlade</string>
		<key>needSpecifyTarget</key>
		<true/>
		<key>targetCount</key>
		<integer>1</integer>
		<key>requiredAnger</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>请选择1名玩家作为目标，该玩家需打出3张【闪避】</string>
		<key>targetTipText</key>
		<string>&amp;对你使用【神灭斩】，你需要打出3张【闪避】</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>EyeOfSkadi</string>
		<key>cardText</key>
		<string>冰魄之眼</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>1</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【冰魄之眼】</string>
		<key>equipTipText</key>
		<string>&amp;对你使用&amp;，需要打出2张【闪避】</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>BladesOfAttack</string>
		<key>cardText</key>
		<string>攻击之爪</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>2</integer>
		<key>canBeUsedActive</key>
		<true/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【攻击之爪】</string>
		<key>equipTipText</key>
		<string>你的红色手牌可以当【普通攻击】使用或打出</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>SacredRelic</string>
		<key>cardText</key>
		<string>圣者遗物</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>onlyEquipOne</key>
		<true/>
		<key>attackRange</key>
		<integer>0</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【圣者遗物】，无法装备防具（若已装备则弃置）</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>DemonEdge</string>
		<key>cardText</key>
		<string>恶魔刀锋</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>2</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【恶魔刀锋】</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>DiffusalBlade</string>
		<key>cardText</key>
		<string>散失之刃</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>3</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【散失之刃】</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>LotharsEdge</string>
		<key>cardText</key>
		<string>洛萨之锋</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>3</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【洛萨之锋】</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>StygianDesolator</string>
		<key>cardText</key>
		<string>黯灭之刃</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>3</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【黯灭之刃】</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>SangeAndYasha</string>
		<key>cardText</key>
		<string>散夜对剑</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>3</integer>
		<key>canBeUsedActive</key>
		<true/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【散夜对剑】</string>
		<key>equipTipText</key>
		<string>你可以将2张手牌当普通【攻击】使用</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>PlunderAxe</string>
		<key>cardText</key>
		<string>掠夺之斧</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>3</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【掠夺之斧】</string>
		<key>equipTipText</key>
		<string>是否发动【掠夺之斧】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>MysticStaff</string>
		<key>cardText</key>
		<string>神秘法杖</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>3</integer>
		<key>canBeUsedActive</key>
		<true/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【神秘法杖】</string>
		<key>equipTipText</key>
		<string>你可以弃X张牌，然后摸X-1张牌</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Eaglehorn</string>
		<key>cardText</key>
		<string>鹰角弓</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>4</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【鹰角弓】</string>
		<key>equipTipText</key>
		<string>是否发动【鹰角弓】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>QuellingBlade</string>
		<key>cardText</key>
		<string>补刀斧</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>0</integer>
		<key>attackRange</key>
		<integer>4</integer>
		<key>canBeUsedActive</key>
		<false/>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【补刀斧】</string>
		<key>equipTipText</key>
		<string>是否发动【补刀斧】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>PhyllisRing</string>
		<key>cardText</key>
		<string>菲丽丝之戒</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【菲丽丝之戒】</string>
		<key>equipTipText</key>
		<string>是否发动【菲丽丝之戒】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>BladeMail</string>
		<key>cardText</key>
		<string>刃甲</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【刃甲】</string>
		<key>equipTipText</key>
		<string>是否发动【刃甲】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>BootsOfSpeed</string>
		<key>cardText</key>
		<string>速度之靴</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【速度之靴】</string>
		<key>equipTipText</key>
		<string></string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>PlaneswalkersCloak</string>
		<key>cardText</key>
		<string>法师斗篷</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【法师斗篷】</string>
		<key>equipTipText</key>
		<string>是否发动【法师斗篷】？</string>
	</dict>
	<dict>
		<key>cardName</key>
		<string>TalismanOfEvasion</string>
		<key>cardText</key>
		<string>闪避护符</string>
		<key>cardType</key>
		<integer>3</integer>
		<key>needSpecifyTarget</key>
		<false/>
		<key>equipmentType</key>
		<integer>1</integer>
		<key>description</key>
		<string></string>
		<key>tipText</key>
		<string>装备【闪避护符】</string>
		<key>equipTipText</key>
		<string>是否发动【闪避护符】？</string>
	</dict>
</array>
</plist>
