<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RestoreBlood0.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,576},{12,12}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,114},{12,12}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,446},{78,78}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,81},{78,78}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,216}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{204,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood11.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,208},{204,204}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{204,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood12.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,204}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{204,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood13.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{204,202}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{204,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood14.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{202,202}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{202,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{194,192}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{194,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood16.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,410},{156,184}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{156,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood17.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,334},{74,110}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,26},{74,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood18.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,334},{68,90}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,23},{68,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood19.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,334},{6,6}}</string>
                <key>offset</key>
                <string>{-15,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,9},{6,6}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,180},{152,152}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{152,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,408},{166,166}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{166,166}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood4.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{176,176}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{176,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,414},{186,186}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{186,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,414},{194,194}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{194,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood7.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,206},{198,200}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{198,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood8.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,206},{202,202}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{202,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RestoreBlood9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{204,206}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{204,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RestoreBlood-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1002,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac125beb08071b8bf7d193f0bd5b6bcb:1/1$</string>
            <key>textureFileName</key>
            <string>RestoreBlood-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
