<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RestoreBlood0.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,878},{14,14}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,121},{14,14}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{84,84}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,86},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,232}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{218,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{218,218}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{218,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood12.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{218,218}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{218,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood13.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,228},{218,216}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{218,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{218,222}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{218,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood15.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{216,224}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{216,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood16.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,440},{184,212}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{184,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{80,120}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,28},{80,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood18.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,904},{72,96}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,25},{72,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{6,6}}</string>
                <key>offset</key>
                <string>{-16,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,10},{6,6}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,626},{162,162}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,47},{162,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,826},{176,176}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,40},{176,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,826},{188,188}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{188,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood5.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,626},{198,198}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{198,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,668},{206,208}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{206,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,448},{212,218}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{212,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood8.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,222},{216,216}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{216,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>RestoreBlood9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{218,222}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{218,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RestoreBlood-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{800,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b24afbde0769af8127763bcfc830b3c8:1/1$</string>
            <key>textureFileName</key>
            <string>RestoreBlood-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
