<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RestoreBlood0.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1792},{28,28}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,242},{28,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,732},{168,168}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,172},{168,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood10.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{436,474}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{436,474}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1354},{436,436}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{436,436}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood12.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,478},{436,444}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{436,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{436,436}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{436,436}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood14.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,902},{436,450}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{436,450}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{436,464}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{436,464}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood16.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{436,474}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{436,474}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,476},{162,254}}</string>
                <key>offset</key>
                <string>{-6,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,52},{162,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,328},{146,200}}</string>
                <key>offset</key>
                <string>{1,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,46},{146,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,2},{12,14}}</string>
                <key>offset</key>
                <string>{-31,230}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,19},{12,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{324,324}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,94},{324,324}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,924},{352,352}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,81},{352,352}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1378},{378,378}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,67},{378,378}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood5.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1378},{396,404}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,59},{396,404}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood6.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,924},{412,452}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,50},{412,452}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood7.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,478},{422,456}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,46},{422,456}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{430,480}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{430,480}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>RestoreBlood9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,478}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{434,478}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RestoreBlood-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1656,1869}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ba759ef95b69c07561e851141c459f2:1/1$</string>
            <key>textureFileName</key>
            <string>RestoreBlood-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
