<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RestoreBlood0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,724},{16,16}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,134},{16,16}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,136},{94,94}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,95},{94,94}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,254}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{242,254}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood11.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,242}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{242,242}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood12.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,746},{242,240}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,22},{242,240}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{242,240}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{242,240}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{240,242}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{240,242}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood15.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,484},{228,238}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{228,238}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood16.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,244},{188,220}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{188,220}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood17.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{88,132}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,32},{88,132}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood18.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,860},{80,108}}</string>
                <key>offset</key>
                <string>{1,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,26},{80,108}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood19.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,706},{6,8}}</string>
                <key>offset</key>
                <string>{-17,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,10},{6,8}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,678},{180,180}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,52},{180,180}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,480},{196,196}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,44},{196,196}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,706},{210,210}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{210,210}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood5.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,484},{220,220}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{220,220}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood6.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,246},{228,232}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{228,232}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood7.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,246},{234,236}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{234,236}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood8.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{240,240}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{240,240}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>RestoreBlood9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{242,244}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{242,244}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RestoreBlood-iphone5hd.pvr.ccz</string>
            <key>size</key>
            <string>{902,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7419312ea8a89afe0d71164e139208de:1/1$</string>
            <key>textureFileName</key>
            <string>RestoreBlood-iphone5hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
