<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>Sentinel</string>
		<key>cardText</key>
		<string>Sentinel</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>Sentinel</string>
		<key>cardText</key>
		<string>Sentinel</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>0</integer>
		<key>cardName</key>
		<string>Sentinel</string>
		<key>cardText</key>
		<string>Sentinel</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>Scourge</string>
		<key>cardText</key>
		<string>Scourge</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>Scourge</string>
		<key>cardText</key>
		<string>Scourge</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>1</integer>
		<key>cardName</key>
		<string>Scourge</string>
		<key>cardText</key>
		<string>Scourge</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>Neutral</string>
		<key>cardText</key>
		<string>Neutral</string>
	</dict>
	<dict>
		<key>cardEnum</key>
		<integer>2</integer>
		<key>cardName</key>
		<string>Neutral</string>
		<key>cardText</key>
		<string>Neutral</string>
	</dict>
</array>
</plist>
