<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SangeAndYasha0.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,832},{132,130}}</string>
                <key>offset</key>
                <string>{-74,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{132,130}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,138},{134,134}}</string>
                <key>offset</key>
                <string>{-74,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{134,134}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{256,254}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{256,254}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha11.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{248,244}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{248,244}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,258},{250,230}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{250,230}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{188,164}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,62},{188,164}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha14.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,274},{200,176}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,55},{200,176}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha15.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,274},{214,188}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,48},{214,188}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha16.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,718},{224,196}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{224,196}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha17.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,718},{234,204}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,39},{234,204}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{136,134}}</string>
                <key>offset</key>
                <string>{-45,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,49},{136,134}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,490},{226,210}}</string>
                <key>offset</key>
                <string>{29,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,1},{226,210}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha4.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,452},{196,172}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,39},{196,172}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha5.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,650},{170,180}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,71},{170,180}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha6.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,490},{226,240}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{226,240}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{260,262}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{260,262}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,268}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{264,268}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>SangeAndYasha9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{252,258}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{252,258}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SangeAndYasha-iphone5hd.pvr.ccz</string>
            <key>size</key>
            <string>{914,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6c1995aaf3652c1e198970b1c5f5ea9:1/1$</string>
            <key>textureFileName</key>
            <string>SangeAndYasha-iphone5hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
