<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SangeAndYasha0.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,498},{112,110}}</string>
                <key>offset</key>
                <string>{-63,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{112,110}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,322},{114,112}}</string>
                <key>offset</key>
                <string>{-63,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{114,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha10.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,222},{216,216}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,216},{210,206}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{210,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha12.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{212,194}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{212,194}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha13.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,454},{158,138}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,53},{158,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha14.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{170,148}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,47},{170,148}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{180,158}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,41},{180,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha16.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,152},{190,166}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,36},{190,166}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha17.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,440},{196,172}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{196,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,206},{114,114}}</string>
                <key>offset</key>
                <string>{-38,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,40},{114,114}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,428},{190,178}}</string>
                <key>offset</key>
                <string>{25,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,1},{190,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha4.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,436},{166,146}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,33},{166,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha5.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,344},{142,152}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,60},{142,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha6.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{192,202}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,35},{192,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{222,222}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{222,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,226}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{222,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SangeAndYasha9.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{212,218}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{212,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SangeAndYasha-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1009,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2765f56963dd8f2f40f186c538353ce5:1/1$</string>
            <key>textureFileName</key>
            <string>SangeAndYasha-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
