<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SangeAndYasha0.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,187},{99,99}}</string>
                <key>offset</key>
                <string>{-55,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{99,99}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,404},{101,101}}</string>
                <key>offset</key>
                <string>{-56,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{101,101}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha10.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{191,191}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{191,191}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha11.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{185,183}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{185,183}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha12.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{189,173}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{189,173}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha13.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,348},{141,123}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,47},{141,123}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha14.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,195},{151,131}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,42},{151,131}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha15.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,205},{161,141}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{161,141}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha16.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,193},{169,147}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{169,147}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha17.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,348},{175,153}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{175,153}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{101,101}}</string>
                <key>offset</key>
                <string>{-34,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{101,101}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,348},{169,157}}</string>
                <key>offset</key>
                <string>{22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{169,157}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha4.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,342},{147,129}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,30},{147,129}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha5.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,348},{127,135}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,53},{127,135}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha6.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,177},{169,181}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{169,181}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{197,197}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{197,197}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,201}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{199,201}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>SangeAndYasha9.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{189,193}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{189,193}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SangeAndYasha-hd.pvr.ccz</string>
            <key>size</key>
            <string>{969,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7c5dc9e7c68e7fe28689664e9e1ab2b:1/1$</string>
            <key>textureFileName</key>
            <string>SangeAndYasha-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
