<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,826},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Cancel_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,739},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Cancel_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,712},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>CardPile.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,290},{224,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,105}}</string>
                <key>sourceSize</key>
                <string>{224,105}</string>
            </dict>
            <key>CurrentPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,519}}</string>
                <key>sourceSize</key>
                <string>{2048,519}</string>
            </dict>
            <key>Discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,625},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Discard_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,598},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Discard_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,511},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>FactionFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,290},{261,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,78}}</string>
                <key>sourceSize</key>
                <string>{261,78}</string>
            </dict>
            <key>GameMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,925},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>GameMenu_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,853},{224,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,70}}</string>
                <key>sourceSize</key>
                <string>{224,70}</string>
            </dict>
            <key>Neutral.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,940},{53,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{53,50}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>Okay.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,484},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Okay_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,397},{240,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>Okay_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,370},{240,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,112}}</string>
                <key>sourceSize</key>
                <string>{246,116}</string>
            </dict>
            <key>OtherPlayerArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{480,286}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{480,286}}</string>
                <key>sourceSize</key>
                <string>{480,290}</string>
            </dict>
            <key>ProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,853},{1034,21}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{1034,21}}</string>
                <key>sourceSize</key>
                <string>{1074,59}</string>
            </dict>
            <key>ProgressBarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,940},{1070,59}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{1070,59}}</string>
                <key>sourceSize</key>
                <string>{1074,59}</string>
            </dict>
            <key>Scourge.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,940},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>Sentinel.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,940},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameImage.pvr.ccz</string>
            <key>size</key>
            <string>{1024,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b25ae1272074f878467d03c3db947eae$</string>
            <key>textureFileName</key>
            <string>GameImage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
